 /* font family  */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 /* common styles */

 body{
     font-family: 'poppins';
 }

 a{
     background-color: #E02C6D;
     padding: 10px 24px ;
     border-radius: 50px;
     font-size: 16px;
     font-weight: 700;
     text-decoration: none;
     color: white;

 }


 /* navigation styles */
  nav{
      display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul{
      list-style: none;
      display: flex;
  }
  nav ul li{
      margin-left: 34px;
  }

  /* start section styles  */
.start{
    display: flex;
    /* position: relative; */
    top: 50px;
}
.texts{
    width: 50%;
}
.camera-img{
    width: 50%;
    /* position: relative;
    left: 133px; */
}
.camera-img img{
    /* position:absolute ; */
}
.main-camera{


    /* top: 0;
    z-index: 1;
 */
}

/* logo section style */

.logos{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
    border-bottom:1px solid lightgray ;
}
.logos img{
    padding: 40px 30px;
}




