/* font family  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* common styles */

body{
    font-family: 'poppins';
    margin: 0;
}

a{
    background-color: #E02C6D;
    padding: 10px 24px ;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: white;

}

a:hover {
   background-color: #ad0543;
   font-size: 1.05em;
}


/* navigation styles */

#nav-phone{
    display: none;
}

nav{
     display: flex;
   justify-content: space-between;
   align-items: center;
 }
 nav ul{
     list-style: none;
     display: flex;
 }
 nav ul li{
     margin-left: 34px;
 }

 /* start section styles  */


 .start{
   display: flex;
   
}
.texts{
   width: 50%;
}

h1{
   font-size: 52px;
   font-weight: 700;
}
.camera-img{
   width: 50%;
}


/* logo section style */

.logos{
   display: flex;
   margin-top: 50px;
   justify-content: space-evenly;
   border-top: 1px solid lightgray;
   border-bottom:1px solid lightgray ;
}
.logos img{
   padding: 40px 30px;
}

/* popular-section styles */

.popular-sec{
   width: 100%;
   text-align: center;
}
.popular-sec > h2{
   text-align: center;
}

.collectoins{
display: grid;
grid-template-columns: repeat( 3, 1fr);
justify-content:space-between;
grid-gap: 14px;

}

.collectoin{
   width: 329px;
   height: 479px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

}
.collectoin img{
   width: 300px;
   height: 256px;
   padding: 14px;
}
#photoshoot{
   width: 300px;
   height: 256px;
}

h2{
   font-weight: 500;
   font-size: 28px;
}

.collectoin h2{
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
}

.collectoin h3{

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 24px;

}

.collectoin .rating-num{
   font-family: Inter;
font-style: normal;
font-weight: 700;
font-size: 14px;
}

.collectoin p{
   font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 14px;
}



.fa-star, .fa-star-half-alt{
color: #FB8200;
}

.see{
   margin-right: 0;
   margin-left: 900px;
   
}

/* subscribe for newsletter */

.subscribe-sec{
display: flex;
flex-direction: row;
align-items: center;
}
.image{
   width: 50%;
   transform: scale(0.75);
   
}
.subscribe-title{
   font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 38px;
}

footer{
   width: 100%;
   height: 239px;
   background-color: #0A0826;
   text-align: center;
   color: white;
}
.footer-content{
   padding-top: 40px;
}

footer i{
   margin-left: 17px;
   color: rgba(255, 255, 255, 0.445);
}

/* Resposnsive styles
----------------------
*/

/* Mobile phone 
*/

@media only screen and (max-width: 768px) {
    
    nav{
        display: none;
    }

    #nav-phone{
        display: flex;
        justify-content: space-around;
    }
    .start{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }
    
    .camera-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .camera-img img{
        width: 100%;
     }
    .texts{
        width: 100%;
        text-align: center;
     }

     .logos{
         display: flex;
         flex-wrap: wrap;
         
     }

     .collectoins{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;

     }
    .see{
         margin: 0;
    }

    .subscribe-sec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
    }
    .image{
        width: 100%;
        position: relative;
        left: -92px;
    }

}
